.login-container {
  display: flex;
  align-items: center; 
  height: 100vh;
  background: linear-gradient(159.02deg, #071d08 14.25%, #092E0B 56.45%, #021503 86.14%); 
}

.middle-container {
  display: flex;
  justify-content: center;  
  align-items: center; 
  flex-direction: column;
  width: 100%;
  height: 100%;
}
  
  .imageContainer {
    width: 50%;
    height: 100vh;
    overflow: hidden; 
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .image-text {
    position: absolute;
    top: 850px;
    left: 280px;
    width: 306px;
    height: 36px;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0.18em;
    text-align: center;
    color: white;
    /* color: linear-gradient(94.56deg, #FFFFFF 79.99%, #21242F 102.65%); */
  }
  
  
  .login-form {
    display: flex;
    justify-content: center;
    align-items: center; 
    width: 50%;
    height: 100vh;
    border: 1px solid #ccc;
  }
  
  .heading {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 10px;
    padding: 5px;
    color: #fff;
    width: Fill (507px)

  }
  
  .sub-heading {
    margin-bottom: 40px;
    color: #fff;
  }
  
  .department-buttons {
    display: flex;
    margin-bottom: 40px;
    width: 500px;
  }
  
  .department-button {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    cursor: pointer;
    color: #fff;
  }
  
  .department-button.selected {
    background-color: #121812;
    color: #fff;
  }
  
  .input-fields {
    display: flex;
    flex-direction: column;
    gap: 40px;
    color: #fff;
    font-weight: bold;
  }
  
  .input-field {
    border: 1px solid #2f302fe5;
    background: #343B34;
    padding: 8px;
    width: 500px;
  }
  
  .login-button {
    background-color: #b3c7b2;
    color: #1E7222;
    padding: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 500px;
  }
  
  .login-message {
    text-align: center;
    font-size: 1.2rem;
    margin-top: 16px;
    padding: 8px;
  }
  
  .login-message.success {
    background-color: #d4edda;
    color: #155724;
    border-radius: 4px;
  }
  
  .login-message.error {
    background-color: #f8d7da;
    color: #721c24;
    border-radius: 4px;
  }
  